<!-- Modal thêm danh mục-->
<div class="modal fade" id="modalCreate" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{action}} san pham</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="mt-2">
                            <label class="control-label">Tên san pham</label>
                            <input class="form-control" v-model="cateData.name" />

                        </div>

                        <div class="mt-2">
                            <label class="control-label">Mo ta</label>
                            <input class="form-control" v-model="cateData.description" />

                        </div>

                        <div class="mt-2">
                            <label class="control-label">Gia</label>
                            <input class="form-control" v-model="cateData.price" />

                        </div>

                        <div class="mt-2">
                            <label class="control-label">Giam gia</label>
                            <input class="form-control" v-model="cateData.discountPrice" />

                        </div>

                        <div class="mt-2">
                            <label class="control-label">Hinh anh</label>
                            <input class="form-control" v-model="cateData.coverImg" />

                        </div>

                        <div class="mt-2">
                            <label class="control-label">Ton kho</label>
                            <input class="form-control" v-model="cateData.inStock" />

                        </div>

                        <div class="mt-2">
                            <label class="control-label">Danh muc</label>
                            <vc:select-list-category v-model="cateData.categoryId"></vc:select-list-category>

                        </div>

                        <div class="mt-2 d-flex justify-content-end">
                            <input type="button" v-on:click="addOrUpdate()" :value="action" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>