@using eShop.Areas.Admin.ViewModels.Category

@model IEnumerable<ListItemCategoryVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<div id="vueData">
    <p>
        <button class="btn btn-success" v-on:click="showCreateModal()">Create new</button>
        <button class="btn btn-primary" v-on:click="refreshData()">Làm mới dữ liệu</button>
    </p>


    <table class="table">
        <thead>
            <tr>
                <th> Id</th>
                <th>Tên danh mục</th>
                <th>Ngày tạo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in categories">
                <td>{{item.id}} </td>
                <td>{{item.name}}</td>
                <td>{{new Date(item.createAt).toLocaleString()}} </td>
                <td>
                    <button class="btn btn-success me-1" v-on:click="getDataForUpdate(item.id)">Sửa</button> 
                    <button class="btn btn-danger" v-on:click="deleteCategory(item.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <partial name="_Create"/>
</div>


@section Scripts{
    <script>

        //set thoi gian load
        let options ={
           minDurations: {
               "async-block":300,
               "async":300
           }
        };
        let noti = new AWN(); //sd awesome-notifications

        Vue.createApp({
            data(){
                return {
                    action:'', 
                    mCreate: null,
                    categories: [],
                    cateData:{
                        id: 0,
                        name:null
                    }
                };
            },
            methods: {
                showCreateModal(){
                    this.mCreate.show();
                    this.clearData();
                    this.action ="Thêm mới";
                },

                getDataForUpdate(id){
                    noti.async(
                        axios.get("/Admin/Category/GetForUpdate/" + id),
                        (response) => {
                            var data = response.data;
                            this.cateData = {...data};//coppy data
                            this.mCreate.show();
                            this.action = "Cập nhật";
                        }
                    );
                },

                clearData(){
                    this.cateData.id = 0;
                    this.cateData.name = '';
                },

                addOrUpdate(){
                    if (!this.cateData.name){
                        noti.warning("Chưa nhập dữ liệu");
                        return;
                    }
                    let url = "/Admin/Category/Create";
                    if (this.cateData.id != 0)
                    {
                        url = "/Admin/Category/Edit/"+this.cateData.id;
                    }
                    noti.async(
                        axios.post(url, this.cateData),
                        (response) => {
                            var data = response.data;
                            if (data.success) {
                                noti.success(this.action + " danh mục thành công! ");
                                this.mCreate.hide();//tắt(ẩn) modal
                                //Load du lieu trang index
                                this.refreshData();
                            } 
                        },
                        (err)=>{
                            let statusCode = err.response.status;
                            if(statusCode == 400)
                            {
                                var errRes = err.response.data;
                                for(let prop in errRes){
                                    for(let mesg of errRes[prop]){
                                        noti.alert(mesg);
                                        return;
                                            
                                    } 
                                }
                            
                            }
                            
                        }
                    );
                },

                deleteCategory(id){
                    console.log(id);
                    noti.confirm(
                     "Xác nhận xóa dữ liệu?",
                      () => {
                          noti.async(
                              axios.get("/Admin/Category/Delete/" + id),
                              (response) => {
                                  var data = response.data;
                                  if(data.success){
                                        noti.success("Xóa thành công! ");
                                        //Load du lieu trang index
                                        this.refreshData();
                                  }else{
                                      noti.warning(data.msg);
                                  }

                              },
                          );
                      }
                    );
                },
                refreshData(){
                    noti.asyncBlock(
                        //gọi ajax thông qua thư viện axios
                        axios.get("/Admin/Category/GetAll")
                        ,
                        //khi xử lý
                        (response) => {
                            console.log(response.data);
                            this.categories = response.data; //gán sd đc nhận vào data
                            noti.success("Tải thành công")
                        }
                        ,
                        //Thất bại
                        (err) => {
                            console.log(err);
                            noti.alert("Tải dữ liệu thất bại")
                        }
                        ,
                        //nội dung chờ
                        "Chờ xíu"
                    )
                }

            },
            mounted() { 
                this.mCreate = new bootstrap.Modal("#modalCreate");
                this.refreshData();
            }
        }).mount("#vueData")
    </script>
}

